<div class="main-container">
  <header class="header header-6">
    <div class="branding" style="max-width: none !important;">
      <a class="nav-link">
        <clr-icon shape="hashtag"></clr-icon>
        <span class="title">Quick Inventar</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12">
          <a class="card">
            <div class="card-img">
              <img src="./../assets/breadboard.png">
            </div>
            <div class="card-block">
              <div class="card-title">
                Breadboard - 830 Kontakte
              </div>
              <p class="card-text">
                Lagerort: 02.06.001
              </p>
                <form clrForm clrLayout="horizontal" class="card-text">
                  <clr-input-container>
                    <label>My name</label>
                    <input clrInput placeholder="Fill me in, scotty!"  />
                  </clr-input-container>
                </form>
            </div>

            <div class="card-footer">
              <button class="btn btn-sm btn-link">Zurück</button>
              <button class="btn btn-sm btn-link">Weiter</button>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>