<div class="content-container">

    <div class="content-area">
        Hallo Welt



    </div>


</div>


<div class="presence-bottom-menu" style="position: fixed; bottom: 0; width: 100vw;">
    <div class="" style="display: flex; justify-content: space-between;">
        <button class="btn">Durchlauf</button>
        <button class="btn">SFZ</button>
        <button class="btn">Events</button>
        <button class="btn">MAs</button>
    </div>
    <div class="clr-row">
        <div class="btn-group">
            <button class="btn">CFHN</button>
            <button class="btn">Allgemein</button>
        </div>
    </div>
</div>