

.items-list {

    margin-top: 1rem;

    .items-list-headline {
        padding-left: .25rem;
        padding-right: .25rem;

        display: block;
        color: #454545;
        font-size: .541667rem;
        font-weight: 600;
        line-height: .75rem;
    }
}

.w-100,
.clr-select-wrapper {
    width: 100%;
}