
a {
    cursor: pointer;
}

.header-nav {
    text-transform: capitalize;
}

.subnav {
    text-transform: capitalize;
}


.app-menu {
    .app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // background-color: ;
    }
}